
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Prata&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin:0;
    border:0;
    background-origin: border-box;
}

a {
    color:#222222;
    font-weight: 600;
    font-size: 10px;
    line-height: calc(14/10*100%);

}

ul,
ol,
li {
    list-style:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight : inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}
html,
body {
    height: 100%;
    font-size:16px;
    color :#222222;
    font-family: Poppins;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}


img{
    width:58px;
    height: 58px;
}
.header {
    background-color: rgba(228, 246, 251, 0.5);
}
.container {
    max-width:595px;
    margin:0 auto;
}
.header-body {
    display: flex;
    padding:32px 0px 16px 32px;
}
.header__person {
    
}
.person__head-block {
    
}
.head-block__me {
    display: flex;
    padding-bottom: 14px;
}
.me__avatar {
}
.me__item {
    padding-left:12px;
}
.me__title {
    font-weight: 600;
    font-size: 26px;
    line-height: calc(34/26 * 100%);
    color:#222222;
}
.me__subtitle {
    color:#1C8EB5;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16 *100%);
}
.person__main-block {

}
.main-block__text {
    font-weight: 400;
    font-size: 10px;
    line-height: calc(14/10 *100%);
}
.header__contacts {
    margin-right:40px;
}
.contacts__item {
    font-size: 0;
}

.header__contacts > *:not(:last-child) {
    padding-bottom: 12px;
}
.contact__name {

    color:#1C8EB5;
    font-weight: 500;
    font-size: 10px;
    line-height: calc(14/10 * 100%);

}
.contact__link {
    
}